<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>99438498350-l9krdletsiha3e5k97dqlhcf970c7ljt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99438498350-l9krdletsiha3e5k97dqlhcf970c7ljt</string>
	<key>API_KEY</key>
	<string>AIzaSyAPjKCaP5K9utyRKHmakIWlW_q49nCidR4</string>
	<key>GCM_SENDER_ID</key>
	<string>99438498350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MuratErhan.instaCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instacloneapp-29486</string>
	<key>STORAGE_BUCKET</key>
	<string>instacloneapp-29486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:99438498350:ios:848cb040637f5e6c</string>
	<key>DATABASE_URL</key>
	<string>https://instacloneapp-29486.firebaseio.com</string>
</dict>
</plist>